body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  max-width: 960px;
}
.navbar-brand .logo {
  width: 80px;
  height: auto;
}
.navbar-nav .nav-item::after {
  content: "\00a0";
}
.navbar-nav #nav-link1 {
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", sans-serif;
  text-decoration: none;
}
.navbar-nav #nav-link2 {
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", sans-serif;
  text-decoration: none;
}
.navbar-nav #nav-link1:hover,
.navbar-nav #nav-link2:hover {
  color: #008170;
}
.container .photo_mid {
  width: 200px;
  height: 200px;
}
.footer_name {
  font-weight: bold;
  text-decoration: none;
}
.footer_name2 {
  font-weight: bold;
  text-decoration: none;
  top: 20px;
  display: relative;
}
.footer_name:hover,
.footer_name2:hover {
  color: #008170 !important;
}

.txt_h1 {
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.txt_h1:hover {
  color: #008170;
}
.edu_mat_txt {
  position: relative;
  left: 30px;
  text-decoration: none;
  color: #445d48;
}
